echo "Setting up AWS Credentials:  Remember to check the .envrc file!"

export AWS_ACCESS_KEY_ID="AKIAR74SGN65QTAIRUNT"
export AWS_SECRET_ACCESS_KEY="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"
export AWS_SESSION_TOKEN=""
export AWS_REGION="us-west-2"
export AWS_PROFILE="admin.damon"

#aws configure set region $AWS_REGION --profile $AWS_PROFILE
#aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID --profile $AWS_PROFILE
#aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY --profile $AWS_PROFILE
#aws configure set aws_session_token $AWS_SESSION_TOKEN --profile $AWS_PROFILE
